extends ../shared/layout
block content_main
    .row-fluid
        .block
            .navbar.navbar-inner.block-header
                ul.breadcrumb
                    i.icon-chevron-left.hide-sidebar
                        a(href="#",title="Hide Sidebar",rel="tooltip") &nbsp;
                    i.icon-chevron-right.show-sidebar(style="display:none")
                        a(href="#",title="Show Sidebar",rel="tooltip") &nbsp;
                    li
                        span &nbsp;&nbsp;System Options
                        span.divider &nbsp;&gt;&nbsp;
                    li
                        span#lblHost.text-success
                        input#hdHost(type="hidden",value=context.get("running.ip"))
            .block-content.collapse.in
                .span12
                    #lblError.alert.alert-error(style="display:none")
                        button.close(data-dismiss="alert") &times;
                        strong Error!
                        span
                    #lblSuccess.alert.alert-success(style="display:none")
                        button.close(data-dismiss="alert") &times;
                        strong Success!
                        span
                .span12
                    form.form-horizontal
                        fieldset
                            legend
                                h3
                                    i.icon-th-list
                                    span &nbsp;&nbsp;Http Server Options
                            .control-group
                                .control-label(for="txtApiPort") Restful Api Port
                                .controls
                                    input.input-xlarge.focused(type="text",readonly="readonly",id="txtApiPort",value=context.get("server.api.port"))
                                    p.help-block server.api.port
                            .control-group
                                .control-label(for="txtWebPort") Web Console Port
                                .controls
                                    input.input-xlarge.focused(type="text",readonly="readonly",id="txtWebPort",value=context.get("server.web.port"))
                                    p.help-block server.web.port
                            .control-group
                                .control-label(for="txtHost") Server Host
                                .controls
                                    input.input-xlarge.focused(type="text",readonly="readonly",id="txtHost",value=context.get("server.host"))
                                    p.help-block server.host
                            .control-group
                                .control-label(for="chkCompressed") Compression Required ?
                                .controls
                                    label
                                        input(type="checkbox",id="chkCompressed",value="true",checked=context.get("server.compression"))
                                        span &nbsp;&nbsp;YES
                                    p.help-block server.compression.support
                            .control-group
                                .control-label(for="txtBacklog") Accept Backlog Size
                                .controls
                                    .input-group
                                        input.input-xlarge.focused(type="text",style="width:240px;",id="txtBacklog",value=context.get("server.accept.backlog"))
                                        span.input-group-addon &nbsp;&nbsp;KB
                                    p.help-block server.accept.backlog
                            .control-group
                                .control-label(for="chkClientAuth") Client Authenticated Required ?
                                .controls
                                    label
                                        input(type="checkbox",id="chkWebAllow",value="true",checked=context.get("server.client.auth.required"))
                                        span &nbsp;&nbsp;YES
                                    p.help-block server.client.auth.required
                            .form-actions
                                    button.btn.btn-success(type="button",onclick="") API Console Status