extends ../shared/layout
block content_main
    .row-fluid
        .block
            .navbar.navbar-inner.block-header
                ul.breadcrumb
                    i.icon-chevron-left.hide-sidebar
                        a(href="#",title="Hide Sidebar",rel="tooltip") &nbsp;
                    i.icon-chevron-right.show-sidebar(style="display:none")
                        a(href="#",title="Show Sidebar",rel="tooltip") &nbsp;
                    li
                        span &nbsp;&nbsp;System Options
                        span.divider &nbsp;&gt;&nbsp;
                    li
                        span#lblHost.text-success
                        input#hdHost(type="hidden",value=context.get("running.ip"))
                        input#hdVertx(type="hidden",value=context.get("vertx.name"))
            .block-content.collapse.in
                .span12
                    form.form-horizontal
                        #lblError.alert.alert-error(style="display:none")
                            button.close(data-dismiss="alert") &times;
                            strong Error!
                            span
                        #lblSuccess.alert.alert-success(style="display:none")
                            button.close(data-dismiss="alert") &times;
                            strong Success!
                            span
                        fieldset
                            legend
                                h3
                                    i.icon-th-list
                                    span &nbsp;&nbsp;Pool Size Options
                            .control-group
                                .control-label.span3(for="txtPoolSizeEL") Pool-Size of Event Loop
                                .controls.span9
                                    input.input-xlarge(type="text",id="txtPoolSizeEL",value=context.get("vertx.pool.size.el"))
                                    p.help-block
                                        span vertx.
                                        span.vxname
                                        span .pool.size.event.loop 
                            .control-group
                                .control-label.span3(for="txtPoolSizeWorker") Pool-Size of Worker
                                .controls.span9
                                    input.input-xlarge(type="text",id="txtPoolSizeWorker",value=context.get("vertx.pool.size.worker"))
                                    p.help-block
                                        span vertx.
                                        span.vxname
                                        span .pool.size.worker
                            .control-group
                                .control-label.span3(for="txtPoolSizeIB") Pool-Size of Internal Blocking
                                .controls.span9
                                    input.input-xlarge(type="text",id="txtPoolSizeIB",value=context.get("vertx.pool.size.ib"))
                                    p.help-block
                                        span vertx.
                                        span.vxname
                                        span .pool.size.internal.blocking
                            legend
                                h3
                                    i.icon-th-list
                                    span &nbsp;&nbsp;Cluster Options
                            .control-group
                                .control-label.span3(for="chkClusterEnabled") Vert.X Clustered ?
                                .controls.span9
                                    label
                                        input(type="checkbox",id="chkClusterEnabled",value="true",onchange="BTN.checked('#chkClusterEnabled','.cluster');",checked=context.get("vertx.cluster.enabled"))
                                        span &nbsp;&nbsp;YES
                                    p.help-block
                                        span vertx.
                                        span.vxname
                                        span .cluster.enabled
                            .control-group
                                .control-label.span3(for="txtClusterHost") Cluster Host
                                .controls.span9
                                    input.input-xlarge.cluster(type="text",id="txtClusterHost",value=context.get("vertx.cluster.host"))
                                    p.help-block
                                        span vertx.
                                        span.vxname
                                        span .cluster.host
                            .control-group
                                .control-label.span3(for="txtClusterPort") Cluster Port
                                .controls.span9
                                    input.input-xlarge.cluster(type="text",id="txtClusterPort",value=context.get("vertx.cluster.port"))
                                    p.help-block
                                        span vertx.
                                        span.vxname
                                        span .cluster.port
                            .control-group
                                .control-label.span3(for="txtClusterPingI") Cluster Ping Interval
                                .controls.span9
                                    .input-append
                                        input.input-xlarge.cluster(type="text",style="width:126%",id="txtClusterPingI",value=context.get("vertx.cluster.ping.i"))
                                        span.add-on ms
                                    p.help-block
                                        span vertx.
                                        span.vxname
                                        span .cluster.ping.interval
                            .control-group
                                .control-label.span3(for="txtClusterPingIR") Cluster Ping Reply Interval
                                .controls.span9
                                    .input-append
                                        input.input-xlarge.cluster(type="text",style="width:126%",id="txtClusterPingIR",value=context.get("vertx.cluster.ping.ir"))
                                        span.add-on ms
                                    p.help-block
                                        span vertx.
                                        span.vxname
                                        span .cluster.ping.interval.reply
                            legend
                                h3
                                    i.icon-th-list
                                    span &nbsp;&nbsp;High Available Options
                            .control-group
                                .control-label.span3(for="chkHAEnabled") HA Enabled ?
                                .controls.span9
                                    label
                                        input(type="checkbox",id="chkHAEnabled",value="true",onchange="BTN.checked('#chkHAEnabled','.ha');",checked=context.get("vertx.ha.enabled"))
                                        span &nbsp;&nbsp;YES
                                    p.help-block
                                        span vertx.
                                        span.vxname
                                        span .ha.enabled
                            .control-group
                                .control-label.span3(for="txtHAGroup") HA Group Name
                                .controls.span9
                                    input.input-xlarge.ha(type="text",id="txtHAGroup",value=context.get("vertx.ha.group"))
                                    p.help-block
                                        span vertx.
                                        span.vxname
                                        span .ha.group
                            .control-group
                                .control-label.span3(for="txtQuorumSize") Quorum Size
                                .controls.span9
                                    input.input-xlarge.ha(type="text",id="txtQuorumSize",value=context.get("vertx.quorum.size"))
                                    p.help-block
                                        span vertx.
                                        span.vxname
                                        span .quorum.size
                            legend
                                h3
                                    i.icon-th-list
                                    span &nbsp;&nbsp;Timestamp Options
                            .control-group
                                .control-label.span3(for="txtBlockedThreadCI") Blocked Thread Check Interval
                                .controls.span9
                                    .input-append
                                        input.input-xlarge(type="text",style="width:126%",id="txtBlockedThreadCI",value=context.get("vertx.blocked.thread.ci"))
                                        span.add-on ms
                                    p.help-block
                                        span vertx.
                                        span.vxname
                                        span .blocked.thread.check.internal
                            .control-group
                                .control-label.span3(for="txtETMEventLoop") Max Event Loop Execute Time
                                .controls.span9
                                    .input-append
                                        input.input-xlarge(type="text",style="width:126%",id="txtETMEventLoop",value=context.get("vertx.et.max.event.loop"))
                                        span.add-on ms
                                    p.help-block
                                        span vertx.
                                        span.vxname
                                        span .execute.time.max.event.loop
                            
                            .control-group
                                .control-label.span3(for="txtETMWorker") Max Worker Execute Time
                                .controls.span9
                                    .input-append
                                        input.input-xlarge(type="text",style="width:126%",id="txtETMWorker",value=context.get("vertx.et.max.worker"))
                                        span.add-on ms
                                    p.help-block
                                        span vertx.
                                        span.vxname
                                        span .execute.time.max.worker
                            .control-group
                                .control-label.span3(for="txtTExpTime") Warning Exception Time
                                .controls.span9
                                    .input-append
                                        input.input-xlarge(type="text",style="width:126%",id="txtTExpTime",value=context.get("vertx.t.exception.warning"))
                                        span.add-on ms
                                    p.help-block
                                        span vertx.
                                        span.vxname
                                        span .warning.exception.time
                            .form-actions
                                    button.btn.btn-primary(type="button",onclick="#") Save & Refresh